@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Red+Hat+Display:wght@300;400;500;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Red Hat Display', sans-serif; */

/* color-primario: #026F9A;
color-2: #04D1D5;
color-3: #4B4B4B; */

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: all 500ms ease;
}

h1,
h2,
h3 {
  font-family: 'Red Hat Display', sans-serif;
}


h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  margin: 0 0 18px 0;
  color: #026F9A;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  list-style: 42px;
  text-align: center;
  margin: 0 0 40px 0;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

a {
  font-family: 'Open Sans', sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
a::selection,
b::selection,
strong::selection,
p::selection,
img::selection,
button::selection,
span::selection,
div::selection {
  background: #026F9A;
  color: #fff;
  -webkit-text-fill-color: var(#026F9A);
}

/* Firefox */
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
a::-moz-selection,
b::-moz-selection,
strong::-moz-selection,
p::-moz-selection,
img::-moz-selection,
button::-moz-selection,
span::-moz-selection,
div::-moz-selection {
  background: #026F9A;
  color: #fff;
  -webkit-text-fill-color: var(#026F9A);
}