.navbar {
    display: none;
}

.ocultar,
.ocultar li,
.selector {
    display: none;
}

.mobileMenuIcon {
    display: none;
}

.mobileMenuIcon {
    border: none;
    text-decoration: none;
    font-size: 20px;
    background: none;
    color: #fff;
}

.navbar select {
    display: none;
}

@media (max-width: 375px) {

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;

        /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    }

    .navbar select {
        display: block;
        position: relative;
        right: 4px;
        top: 20px;
        width: 83px;
        height: 36px;
    }

    .ocultar {
        display: none;
    }

    .ocultar,
    .ocultar li,
    .selector {
        display: none;
    }

    .navLinksMobile {
        background-color: #F4F5F8;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 180px;
        justify-content: center;
        list-style: none;
        margin: 0 20px 0 0;
        position: absolute;
        right: 0;
        top: 6%;
        transition: all 0.5s ease-in-out;
        width: 150px;
        padding: 20px;
        z-index: 20;
    }

    .navLinksMobile ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

    .navLinksMobile a {
        font-size: 12px;
        color: #4B4B4B;
    }

    .mobileMenuIcon {
        position: absolute;
        display: block;
        right: 40px;
        top: 50px;
        z-index: 20;
    }
}

@media (max-width: 414px) {

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;

        /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    }

    .navbar select {
        display: block;
        position: relative;
        left: 20px;
        top: 20px;
        width: 83px;
        height: 36px;
    }

    .ocultar {
        display: none;
    }

    .ocultar,
    .ocultar li,
    .selector {
        display: none;
    }

    .navLinksMobile {
        background-color: #F4F5F8;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 180px;
        justify-content: center;
        list-style: none;
        margin: 0 20px 0 0;
        position: absolute;
        right: 0;
        top: 6%;
        transition: all 0.5s ease-in-out;
        width: 150px;
        padding: 20px;
        z-index: 20;
    }

    .navLinksMobile ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

    .navLinksMobile a {
        font-size: 12px;
        color: #4B4B4B;
    }

    .mobileMenuIcon {
        position: absolute;
        display: block;
        right: 35px;
        top: 55px;
        z-index: 20;
    }
}

@media (max-width: 280px) {

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;

        /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    }

    .navbar select {
        display: block;
        position: relative;
        left: -14px;
        top: 20px;
        width: 83px;
        height: 36px;
    }

    .ocultar {
        display: none;
    }

    .ocultar,
    .ocultar li,
    .selector {
        display: none;
    }

    .navLinksMobile {
        background-color: #F4F5F8;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 180px;
        justify-content: center;
        list-style: none;
        margin: 0 20px 0 0;
        position: absolute;
        right: 0;
        top: 6%;
        transition: all 0.5s ease-in-out;
        width: 150px;
        padding: 20px;
        z-index: 20;
    }

    .navLinksMobile ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

    .navLinksMobile a {
        font-size: 12px;
        color: #4B4B4B;
    }

    .mobileMenuIcon {
        position: absolute;
        display: block;
        right: 35px;
        top: 55px;
        z-index: 20;
    }
}